---
import { getCollection } from 'astro:content'
import Container from '@components/Container.astro'
import PageLayout from '@layouts/PageLayout.astro'
import ArrowCard from '@components/ArrowCard.astro'
import Link from '@components/Link.astro'
import { SITE, HOME } from '@consts'

const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      Hola, soy Alejandro <span class="text-xl"></span>
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            Soy estudiante de 4掳 semestre de Ingenier铆a de Sistemas en la
            Instituci贸n Universitaria Pascual Bravo. Este blog lo desarrollo
            como parte de la materia <strong
              >Herramientas de Programaci贸n</strong
            >, con el fin de documentar mi aprendizaje, ejercicios y
            reflexiones.
          </p>
          <p class="animate">
            Aqu铆 compartir茅 temas claves vistos en clase como Programaci贸n
            Orientada a Objetos, diagramas UML, conceptos de clases, objetos y
            m茅todos, entre otros. Cada publicaci贸n busca ser un apoyo tanto para
            mi proceso como para cualquier compa帽ero que quiera repasar los
            contenidos.
          </p>
          <p class="animate">
            Mi objetivo es que este espacio funcione como portafolio acad茅mico y
            bit谩cora de estudio, que pueda crecer a lo largo de la carrera con
            nuevas entradas, proyectos y experiencias relacionadas con el mundo
            de la programaci贸n.
          </p>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            ltimas publicaciones
          </h5>
          <Link href="/blog"> Ver todas las entradas </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
